<div class="jumbotron">
  <h1><span class="glyphicon glyphicon-fire">Molyb</h1>
</div>

<section class="notes-list">
</section>

<section class="note-show">
</section>

<script>
  $(document).ready(function(){
    Molyb.initialize();
  });
</script>
