<div id="navbar"></div>

<container style="margin-top:20px">
<div class="row">

  <% unless user_signed_in? %>
    <%= render partial: "demo"%>
  <% end %>

  <% if user_signed_in? %>
    <div class="container" style="margin-top:20px">
      <section class="mid-panel col-sm-3"></section>
      <section class="right-panel col-sm-9"></section>
    </div>
  <% end %>


</div>
</container>

