<div id="navbar"></div>

<container style="margin-top:20px">
<div class="row">
 <!--  <section class="left-panel">
  </section> -->

<!--   <section class="mid-panel col-3">
  </section>

  <section class="right-panel col-9">
  </section> -->


  <section class="mid-panel col-sm-4"></section>
  <section class="right-panel col-sm-7"></section>

</div>
</container>
