
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <input type="text" name="title" class="note-title form-control input-normal" value="<%= note.get('title') %>" />
      </h3>
    </div>
    <div class="panel-body">
      <div class="text-area note-editor note-content panel panel-default" style="height: 300px;" name="body" contenteditable="true" ><%= note.get('body') %>
      </div>
    </div>
  </div>



