<ul id="notes-index">
  <% notes.each(function (note) { %>
    <li>
      <dl>
        <dt>Title</dt>
        <dd>
          <a href="api/notes/<%= note.escape("id") %>">

            <%= note.escape("title") %>
          </a>
        </dd>
        <dt>Content</dt>
        <dd><%= note.escape("body")%></dd>
      </dl>
    </li>
  <% }) %>
</ul>


<!-- <a href="#/notes/new">New Link</a> -->
