<a href ="#" class="edit-note list-group-item">
<div>
  <font size="1">
    Created: <%= moment(note.escape("created_at")).fromNow() %>  |  Modified: <%= moment(note.escape("updated_at")).fromNow() %>
  </font>
</div>
  <dl class= >
    <u>
      <dt>
          <%= note.get("title") %>
      </dt>
    </u>
    <dd><%= note.get("body").substring(0,160)%></dd>

  </dl>
</a>
