
<a href="/#notes/<%= note.id %>" class="edit-note list-group-item">
  <article class="note-preview">
    <div class="note-preview-title">
      <%= note.get("title") %>
    </div>
    <div class="note-preview-body">
      <span class="note-preview-time">
        <%= moment(note.get("created_at")).fromNow() %>
      </span>
      <%= note.get("body") %>
    </div>
  </article>
</a>
