<a href ="#" class="edit-note list-group-item">
  <dl class= >
    <dt>Title</dt>
    <dd>

        <%= note.get("title") %>

    </dd>
    <dt>Content</dt>
    <dd><%= note.get("body")%></dd>
    <dd>
      Created: <%= moment(note.get("created_at")).fromNow() %>
    </dd>
    <dd>
      Modified: <%= moment(note.get("updated_at")).fromNow() %>
    </dd>
  </dl>
</a>
