/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-wysihtml5


 */


 @import "bootstrap-sprockets";


 @import "bootswatch/slate/variables";


 @import "bootstrap";


 body { padding-top: 60px; }

 @import "bootswatch/slate/bootswatch";



 @import "bootstrap-custom";
 @import "jasny-bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Lato:400,700);





html, body {
 height: 100%;
 // background-color: #272b30;
}

body {
 padding: 0px 0 0 0;
 // color: 6C7A89;
 $font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.center {
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}



#navbar {
  height: 50px;
}

.navbar {
  background: #272b30;
  height: 100%;
}

.container .navbar .container {
  width: auto;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 0px) {
 body {
   padding: 0;
 }

.navbar{
   right: auto;
   // background-color: #272b30;
   border: none;
   // border-bottom: 1px solid #4E4E4E;
 }
}

ul#notes-index
{
    list-style-type: none;
}



.container.text-editor
{
  display: block;
  /* border, padding, and other styles go here,
  don't set the height, and don't use floats or positioning */
}



.container.text-editor textarea
{
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  width: 100%;
}

.container.text-editor iframe
{
  width: 100%;
}

.panel-body ul.wysihtml5-toolbar {
  margin: 0px 20px;
  display: block;
}

.edit-note.list-group-item {
  height: 160px;
  padding-top: 1px;
  font-size: 14px;
  line-height: 16px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

.text-area.note-editor {
  overflow-y: auto;
}


// auto log in

 demo-user {
     background: #69ad31;
     padding: 8px 16px;
     box-shadow: 0 1.5px 0 0 #070;
     border-radius: 3px;
     color: white;
     cursor: pointer;
     margin: auto;
     margin-bottom: 30px;
     width: 300px;
     text-align: center;
 }

 section.mid-panel.col-sm-3 {
 height: 600px;
 overflow-y: auto;
}


